@charset "utf-8";
.desc{
    width: 85px;
    height: 30px;
    background-color: #A0C619;
    border-radius:0 3px 3px 0;
    position: fixed;
    left: -75px;
    line-height: 30px;
    top:70%;
    transition: left 0.3s;
}
.desc:hover{
    left: 0px;
    
}
.box{ width: 1000px; height: 700px; margin: auto;position: relative;}
.section2{  
    color: white;    
}

.s2-side-line{
    width: 5px;
    height: 450px;
   background-image: linear-gradient(#5F666E,transparent );
   position: absolute;
   top:150px;
   left: 50px;
}
.s2-side-point{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2BFF00;
    border: 2px solid white;
    position: absolute;
    
}
.s2-side-point:nth-child(1){   
     top:calc(90% - 5px);
     left: -5px;
}
.s2-side-point:nth-child(2){
    top:calc(50% - 5px);
    left: -5px;
}
.s2-side-point:nth-child(3){
    top:10%;
    left: -5px;
}
.s2-side-logo{position: absolute;left: 20px;text-align: left;}
.s2-side-logo:nth-child(4){top:calc(10% - 5px);}
.s2-side-logo:nth-child(5){top:calc(50% - 10px);}
.s2-side-logo:nth-child(6){top:calc(90% - 10px);}
.s2-side-logo img{width: 150px;height: auto;}
.s2-side-logo h4{width: 100px;}

.s2_body_list{
    text-align: left;
    position:absolute;
    left:250px;
    top:219px;
}
.s2_body_list2{
position:absolute;
top:180px;
}

.section3 .box{
    color: #232323;   
} 
.section3 .box h3{
    font-size: 30px;
    color: white;
    padding-bottom: 80px;
}
.s3-ul2 p{
    color: #181010;
}
.box-ul{
    padding-top:10%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
.ul-li{
    float: center;
    list-style-type: none;
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:1px solid #5cb85c;
}
.box h3 {
    color: white;
    font-size: 30px;
}
.box-ul-li1{
    background: url(../indexFiles/images/mi.jpg) 50%;

}


