
.info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
}
.info-box-avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px ;
     
}
.info-box-desc{
    text-align: left;
    padding-left: 30px; 
    
}
.info-box-desc p {
    font-size: 20px;
    color: #5fc7e6;
}
/*样式重置*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{ margin: 0; padding: 0;}
em{ font-style: normal;}
li{ list-style: none;}
a{ text-decoration: none;}
img{ border: none; vertical-align: top;}
table{ border-collapse: collapse;}
input,textarea{ outline: none;}
textarea{ resize: none; overflow: auto;}
body{font-size: 12px; font-family: "微软雅黑";}

.section { text-align: center; font: 18px "Microsoft Yahei";color: #000;}
.section1 { background: url(home-bg.jpg) 50%;}
/*导航*/
#menu { margin: 0; padding: 0; position: fixed; right: 10px; top: 35%; list-style-type: none; z-index: 70;}
#menu li {  margin:  0 10px 0 0; font-size: 14px;margin: 5px;}
#menu a { border-radius: 5px; padding: 10px 20px; background-color: #fff; display: block;color: #333; text-decoration: none;}
#menu a:hover{background-color: #C9BFBF}
#menu .active a { color: #fff; background-color: #333;}

.box{ width: 1000px; height: 500px; margin: auto;}

.section2 .pic{ display: inline-block; float: left; height: 400px; margin: 0 30px; border: 10px solid #666;}
.s2-ul{ display: inline-block; float: left; width: 570px;}
.s2-ul li{ height: 85px;text-align: left;}
.s2-ul li img{ width: 50px; margin-top: 5px;}
.s2-ul li h4{ font-size: 16px; color: #57585b;}
.s2-ul .s2-div{ display: inline-block; float: left; width: 130px; text-align: center; }
.s2-ul li p{ display: inline-block; float: left; line-height: 30px; margin-top: 20px; margin-left: 10px;}
.s2-ul li .s2-line-btn{ display: block;float: left; width: 570px; height: 5px; border-radius: 2px; opacity: 0.5;}


.section3 ul{ display: inline-block; float: left;  height: 420px; margin-left: 50px;}
.section3 ul li{ text-align: left;}
.s3-ul1{ width: 400px;}
.s3-ul1 li{ width: 400px; height: 30px;  margin-bottom: 5px;}
.s3-ul1 li .s3-ico{ display: inline-block;font-size: 16px; float: left; width: 50px; height: 30px; line-height: 30px; padding: 0 10px; border-radius: 5px; position: relative; font-family: PHATGUY, sans-serif;}
.s3-ul1 li .s3-ico em{ position: absolute; top: 0; right: -40px; }
.s3-ul2{ width: 450px;}
.s3-ul2 li{ height: 50px; margin-top: 20px;}
.s3-ul2 img{ width: 50px; display: inline-block; float: left;margin-right: 5px;}
.s3-ul2 p{ vertical-align: middle;}

.s3-ico1{ background: #5BC0DE;}
.s3-ico2{ background: #5cb85c;}
.s3-ico3{ background: #5BC0DE;}
.s3-ico4{ background: #5cb85c;}
.s3-ico5{ background: #5BC0DE;}
.s3-ico6{ background: #5cb85c;}
.s3-ico7{ background: #5BC0DE;}
.s3-ico8{ background: #5cb85c;}
.s3-ico9{ background: #5fc7e6;}
.s3-ico10{ background: #5cb85c;}
.s3-ico11{ background: #5fc7e6;}
.s3-ico12{ background: #5cb85c;}
.s3-ico13{ background: #5fc7e6;}

.section4{ position: relative;}
.section4 .s4-show{ height: 100%; background: pink; position: absolute; top: 0; left: 0; margin: -2px; border: 2px solid #444; display: none;}






